---
layout: default
---
<article class="post">

  <header class="post-header">
    {% if page.header-title %}
    <h1 class="post-title">{{ page.header-title }}</h1>
    {% endif %}
    {% if page.header-img %}
    <img src="{{ page.header-img | prepend:site.baseurl }}" alt="{{ page.header-img-alt }}">
    {% endif %}
  </header>

  <div class="post-content">
    {% for member in page.members %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
      <div class="row">
      {% endif %}
        <div class="col-lg-6">
          <img src="{{ member[1] | prepend: "/img/members/" | prepend:site.baseurl }}" alt="{{member[0]}}">
          {{ member[0] }}
          {{ member[2] }}
        </div>
      {% if loopindex == 0 %}
      </div>
      {% endif %}
    {% endfor %}
  </div>

</article>
